/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GENERAL */
body {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
}

a.button-link {
    background-color: #e83f57;
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.2rem;
}



/* HEADER */
header {
    background-color: #3de07e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 38rem;

}

header img.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem;
    align-self: flex-start;
}

header h1 {
    color: #202123;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
}

/* MAIN */
main {
    max-width: 64rem;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

/* CARDS CONTAINER */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem 2rem;

}

.cards+.cards {
    margin-top: 6rem;
}

/* CARD COMPONENT */
.card {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    width: 20rem;
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 2.2rem;
    font-weight: 600;
    padding: 1rem 0;
    margin: 0;
}

.card p {
    padding: 0 0 3rem 0;
    line-height: 1.5;
    margin: 0;

}

.card a.button-link {
    margin: auto 0 0 0;
}


/* HIGHLIGHTED CARD COMPONENT */


.important .card {
    background-color: white;
    color: #202123;
    width: 31rem;
    /* i also considered flex-grow: 1; here, but i thought it looked a bit funky for screen sizes between desktop and mobile */

}

.important .card h2 {
    margin: 0 1rem;
    padding-top: 2rem;
}

.important .card p {
    margin: 0 1rem;
}

.important .card a.button-link {
    margin: auto 1rem 1rem 1rem;
    padding: 1rem 1.5rem;
}

/* CHECKOUT */

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart {
    margin: 0;
    margin-top: 4rem;
}

 .shopping-cart p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shopping-cart p span:nth-of-type(1) {
    width: 32rem;
}
.shopping-cart p span:nth-of-type(2) {
    width: 20rem;
}
.shopping-cart p span:nth-of-type(3) {
    width: 10rem;
}



.shopping-cart p.cart-heading {
    background-color: #340809;
    padding: 0.5rem 0;
}

.shopping-cart p.cart-item, .shopping-cart p.total {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.shopping-cart p.total {
    border-top: white solid 1px;
    padding-top: 1.5rem;
} 

.checkout a.button-link.buy {
    margin-top: 4rem;
    align-self: flex-end;
    padding: 1rem;
    font-size: 1.5rem;
}



/* FOOTER */

footer {
    background-color: #202123;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6rem 2rem;
    padding: 3rem 1.5rem 6rem 1.5rem;
}

footer section {
    width: 20rem;
}

footer h2 {
    margin: 0 0 1rem 0;
}

footer .navigation a {
    display: block;
    line-height: 1.5;
}

footer .navigation a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
    line-height: 1.5;
}

footer .social-media a {
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
}

footer .social-media img {
    height: 2rem;
    width: 2rem;
}